.wizard-modal
{
    position: relative;
    background: #fff;
    max-width: 30%;
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    z-index: 10000;
}

.wizard-modal .btn
{
    display: inline-block;
    font-weight: 600;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    background-color:#1a1a1a ;
    border-color: #1a1a1a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}

.wizard-modal .btn svg
{
    vertical-align: middle;
}

.wizard-modal .btn.btn-left
{
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.wizard-modal .btn.btn-right
{
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    
}